.search-bar, .search-results {
    max-width: 700px;
    margin: auto;
}

.search-bar {
    width: 100%;
}

#home-page-container {
    width: 80%;
    margin: auto;
    top: 20%;
    margin-top: 100px;
}

hr {
    margin: auto !important;
    padding: 10px;
    max-width: 850px;
}

.user-img {
    border-radius: 50%;
    width: 70px;
    display: inline-block;
    margin-right: 15px;
}

.search-result {
    padding: 30px;
    display: flex !important;
    flex-direction: row !important;
    word-break: break-all;
    align-items: center;
    max-width: 100%;
}

::-ms-clear {
    display: none;
  }
  
  .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
  }