.card {
    text-align: left;
    margin: 20px 0px;
    text-align: left;
}

.metrics-tab-container { 
    display: flex;
    flex-wrap: wrap;
}

.activity-tab-container {
    display: flex;
}

.chart-container {
    margin-right: 10px
}